<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
      <!--    </ion-buttons>-->
      <ion-title>
        <img src="../../../../assets/images/vox-logo.jpg">
      </ion-title>
      <!--    <ion-buttons slot="end">-->
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
