<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
<!--    </ion-buttons>-->
    <ion-title>
        <img src="../../../assets/images/vox-logo.jpg">
    </ion-title>
<!--    <ion-buttons slot="end">-->
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border" collapse="" translucent="true">
  <div class="stories">
    <div class="story">
      <div class="add_story">
        <img src="../../../assets/images/1.jpg">
        <ion-icon color="primary" name="add-circle"></ion-icon>
      </div>
      <p style="color: #86888f;">libra.laura</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img src="../../../assets/images/3.jpg">
      </div>
      <p>smith.allan</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img src="../../../assets/images/4.jpg">
      </div>
      <p>smith.allan</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img src="../../../assets/images/5.jpg">
      </div>
      <p>smith.allan</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img src="../../../assets/images/6.jpg">
      </div>
      <p>smith.allan</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img src="../../../assets/images/7.jpeg">
      </div>
      <p>smith.allan</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img src="../../../assets/images/9.jpg">
      </div>
      <p>susan_mda</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img src="../../../assets/images/7.jpeg">
      </div>
      <p>smith.allan</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img src="../../../assets/images/9.jpg">
      </div>
      <p>susan_mda</p>
    </div>
  </div>
  </ion-header>

  <ion-item no-padding lines="none">
    <ion-avatar slot="start">
      <img src="../../../assets/images/8.jpeg">
    </ion-avatar>
    <ion-label>lisa_franck</ion-label>
    <ion-icon name="ellipsis-vertical-circle-outline"></ion-icon>
  </ion-item>

  <img class="post_img" src="../../../assets/images/post_1.jpg">
  
  <div class="flex-button">
    <div>
      <ion-icon name="heart"></ion-icon>
      <ion-icon name="text"></ion-icon>
      <ion-icon name="send"></ion-icon>
    </div>
    <ion-icon name="bookmark"></ion-icon>
  </div>
  <p class="insta-text"><b>2.875 Likes</b></p>
<p class="insta-text"><b>lisa_franck</b> Abusus enim multitudine hominum, quam tranquillis in rebus diutius rexit, ex agrestibus habitaculis urbes construxit multis opibus firmas et viribus, quarum ad praesens pleraeque licet </p>

  <hr />
  <ion-item no-padding lines="none">
    <ion-avatar slot="start">
      <img src="../../../assets/images/8.jpeg">
    </ion-avatar>
    <ion-label>lisa_franck</ion-label>
    <ion-icon name="ellipsis-vertical-circle-outline"></ion-icon>
  </ion-item>

  <img class="post_img" src="../../../assets/images/post_2.jpg">
  
  <div class="flex-button">
    <div>
      <ion-icon name="heart"></ion-icon>
      <ion-icon name="text"></ion-icon>
      <ion-icon name="send"></ion-icon>
    </div>
    <ion-icon name="bookmark"></ion-icon>
  </div>
  <p class="insta-text"><b>2.875 Likes</b></p>
  <p class="insta-text"><b>sophia_ben</b> Abusus enim multitudine hominum, quam tranquillis in rebus diutius rexit, ex agrestibus habitaculis urbes construxit multis opibus firmas et viribus, quarum ad praesens pleraeque licet </p>

</ion-content>
