<ion-content>
  <app-toolbar></app-toolbar>
  <br />
  <ion-item lines="none">
    <ion-label>
      <h1><b>alisesmith</b></h1>
    </ion-label>
    <ion-avatar>
      <img src="../../../../assets/images/13.jpg">
    </ion-avatar>
  </ion-item>
  <div class="info_box">
    <div class="data_box">
      <b>245</b>
      <p>posts</p>
    </div>
    <div class="data_box">
      <b>7850</b>
      <p>followers</p>
    </div>
    <div class="data_box">
      <b>715</b>
      <p>following</p>
    </div>
  </div>
  <ion-button class="text_button" shape="round" size="small">Envoyer un message</ion-button>
  <ion-button class="icon_button" shape="round" size="small" fill="outline" color="medium">
    <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    <ion-icon color="medium" slot="icon-only" name="checkmark"></ion-icon>
  </ion-button>

  <ion-button class="icon_button" shape="round" size="small" fill="outline" color="medium">
    <ion-icon color="medium" slot="icon-only" name="chevron-down-outline"></ion-icon>
  </ion-button>
  <ion-item lines="none">
    <ion-label>
      <h3><b>Alise Smith</b> <ion-icon color="primary" name="checkmark-circle"></ion-icon></h3>
      <p>Fashion-designer, London UK</p>
    </ion-label>
  </ion-item>
  <ion-segment color="medium">
    <!-- Gril -->
    <ion-segment-button>
      <ion-icon name="keypad"></ion-icon>
    </ion-segment-button>
    <!-- List -->
    <ion-segment-button>
      <ion-icon name="list"></ion-icon>
    </ion-segment-button>
    <!-- favori -->
    <ion-segment-button>
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
    <!-- notifications -->
    <ion-segment-button>
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <!-- Grid View -->
  <div class="grid">
    <div class="img_box" style="background-image: url('../../../../assets/images/post_1.jpg');"></div>
    <div class="img_box" style="background-image: url('../../../../assets/images/post_2.jpg');"></div>
    <div class="img_box" style="background-image: url('../../../../assets/images/post_3.png');"></div>
    <div class="img_box" style="background-image: url('../../../../assets/images/post_4.jpg');"></div>
    <div class="img_box" style="background-image: url('../../../../assets/images/post_5.jpg');"></div>
    <div class="img_box" style="background-image: url('../../../../assets/images/post_6.jpg');"></div>
    <div class="img_box" style="background-image: url('../../../../assets/images/post_7.jpg');"></div>
    <div class="img_box" style="background-image: url('../../../../assets/images/post_8.jpg');"></div>
    <div class="img_box" style="background-image: url('../../../../assets/images/post_9.jpg');"></div>
    <div class="img_box" style="background-image: url('../../../../assets/images/post_1.jpg');"></div>
    <div class="img_box" style="background-image: url('../../../../assets/images/post_2.jpg');"></div>
    <div class="img_box" style="background-image: url('../../../../assets/images/post_2.jpg');"></div>
  </div>

</ion-content>
